@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap";

body {
  font-family: Raleway, sans-serif !important;
  height: 100vh;
  background: linear-gradient(312deg, #16b4ff, #e8410f);
  background-repeat: no-repeat;
  color: white;
  display: flex;
  margin: auto;
  text-align: center;
}

main {
  margin: auto;
}
